use strict;
use warnings;

use SPVM::Builder::Config;
my $config = SPVM::Builder::Config->new_c99;

# C souce files
my @sources = qw(
  adler32.c
  compress.c
  crc32.c
  deflate.c
  gzclose.c
  gzlib.c
  gzread.c
  gzwrite.c
  infback.c
  inffast.c
  inflate.c
  inftrees.c
  trees.c
  uncompr.c
  zutil.c
);
$config->add_sources(@sources);

# Exported function for Windows
my $src_dir = $config->get_src_dir(__FILE__);
my $windows_def_file = "$src_dir/win32/zlib.def";

my $exported_funcs = $config->parse_windows_def_file($windows_def_file);
$config->add_exported_funcs(@$exported_funcs);

$config;
